%style
  == .word_list_container { margin: auto; padding-top: 3em; width: 240px; }
  == .word_list { height: 210px; overflow: auto; }
  == .word_list table { width: 225px; }
  == .word_list td { width: 33% }
  == .word_list .odd td { background-color: #ddd; }
  == .word_list td.popular, .word_list td.word { padding: 12px 0; }
  == .word_list td.first_row { padding-top: 0; }
  == .word_list td.good { text-align: right; padding-right: 6px; }
  == .word_list td.bad { text-align: left; padding-left: 6px;  }
  == .good_words { float: right; }
  == .bad_words { float: left; }
  == .selected_words_container_container { width: 224px; }
  == .selected_words_container_container h3 { padding-bottom: 6px; }
  == .selected_words_container { margin-top: 3px; border: 1px solid #ccc; height: 265px; width: 222px; overflow: auto; }
  == .selected_words { padding: 6px 0 12px 0; }
  == .selected_words .selected_word { display: block; margin-top: 12px; }
  == #word_progress { font-size: 12pt; margin: 3px 0 6px; }
  
:javascript
  $(function() {
    $("#word_progress").focus();
    $("#word_progress").keyup(function() {
      var typed = $(this).val();
      $("#typed_word").find(".word").html(typed);

      if (typed.length > 0) {
        $("#typed_word").show();
      } else {
        $("#typed_word").hide();
      }

      $(".word_list .word").each(function() {
        if ($(this).closest("tr").attr("id") != "typed_word") {
          if ($(this).html().indexOf(typed) == 0) {
            $(this).closest("tr").show();
          } else {
            $(this).closest("tr").hide();
          }
          if ($(this).html() == typed) $("#typed_word").hide();
        }
      });
    });

    $(".good a").click(function() {
      clickWord($(this), "good_words");
    });

    $(".bad a").click(function() {
      clickWord($(this), "bad_words");
    });

    function clickWord(link, type) {
      var word = link.closest("tr").find(".word").html();
      addWord(word, type);
      $("#word_progress").val("");
      $("#word_progress").keyup();
      $("#word_progress").focus();
    }

    function addWord(word, type) {
      $("." + type + " .selected_words").append(
        $("<a/>").addClass("selected_word").html(word).attr("href", "javascript:void(0)").click(function() {
          this.parentNode.removeChild(this);
          $("#" + type).val($("#" + type).val().replace(", " + word, ""));
        })
      );
      $("#" + type).val($("#" + type).val() + ", " + word);
    }

    var myGoodWords = #{@my_good_words.map(&:word).map(&:word).to_json};
    var myBadWords = #{@my_bad_words.map(&:word).map(&:word).to_json};
    for (i in myGoodWords) {
      addWord(myGoodWords[i], "good_words");
    }
    for (i in myBadWords) {
      addWord(myBadWords[i], "bad_words");
    }
  });


- if @owner
  .edit_profile
    %h3 Edit Your Page / Profile
    - unless @user.email.starts_with?("tmp")
      %p= link_to_function("edit", "$('#edit_profile_form').toggle();")
    = form_for @user, :id => "edit_profile_form", :style => (@user.email.present? ? "display: none;" : "") do |f|
      .profile_field
        = f.label :slug, "Your Page: http://bestwords.me/"
        = f.text_field :slug
        .small
          (you should not change your page url if you have already shared your page with someone else)
      .profile_field
        = f.label :name, "Your Name: "
        = f.text_field :name
        .small
          (will be used in the
          = "\"What words best describe #{@user.name || @user.slug}?\""
          below)
      .profile_field
        = f.label :email, "Your Email: "
        = f.text_field :email, :value => @user.email.starts_with?("tmp") ? "" : @user.email
        .small
          (we'll only email you to notify you when someone fills out your page)
      .profile_field
        = f.label :password, "Your Password: "
        = f.password_field :password
        .small
          (so you can log in and see the results)
      = f.submit("Save")

  .share_profile
    %h3 Have Your Friends Describe You
    %p Share either of these links with your friends:
    %p
      = link_to("bestwords.me/#{@user.to_param}", "http://bestwords.me/#{@user.to_param}")
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
      = link_to("bew.me/#{@user.to_param}", "http://bew.me/#{@user.to_param}")



- unless @user != User::SAMPLE_USER && @user.photo.url(:normal) =~ /missing/
  = image_tag(@user == User::SAMPLE_USER   ? "user_photos/sample.jpg" : @user.photo.url(:normal))
  %br
  %br
  
%h1
  What words best describe
  = "#{@user.name || @user.slug}?"

- if @my_good_words.present? || @my_bad_words.present?
  .section
    %b Your Best Words:
    = @my_good_words.map(&:word).map(&:word).join(", ")
    = link_to_function("(edit words)", "$('#my_words').toggle();", :class => "small")
    %p
      %b Your Worst Words:
      = @my_bad_words.map(&:word).map(&:word).join(", ")
      = link_to_function("(edit words)", "$('#my_words').toggle();", :class => "small")

  .section

#my_words{:style => (@my_good_words.blank? && @my_bad_words.blank?) ? "" : "display: none;"}
  = form_tag(profile_words_path(@user)) do
    .good_words.selected_words_container_container
      %h3 Best Words
      = @user.name || @user.slug
      is definitely:
      .selected_words_container
        .selected_words
          .small click a word to remove it
    = hidden_field_tag("good_words")
    .bad_words.selected_words_container_container
      %h3 Worst Words
      = @user.name || @user.slug
      is definitely not:
      .selected_words_container
        .selected_words
          .small click a word to remove it
    = hidden_field_tag("bad_words")      
    .word_list_container
      Type a word or select from the list:
      = text_field_tag("word_progress")
      .word_list
        %table
          %tbody
            %tr#typed_word{:style => "display: none;", :class => cycle("even", "odd")}
              %td.bad= link_to_function("< bad", "")
              %td.word
              %td.good= link_to_function("good >", "")
            - @used_words.map(&:word).uniq.map(&:word).sort.each do |word|
              %tr{:class => cycle("even", "odd") }
                %td.bad= link_to_function("< bad", "")
                %td.word= word
                %td.good= link_to_function("good >", "")
            - (Word.all - @used_words.map(&:word).uniq).map(&:word).each do |word|
              %tr{:class => cycle("even", "odd") }
                %td.bad= link_to_function("< bad", "")
                %td.word= word
                %td.good= link_to_function("good >", "")
    %br
    = submit_tag("Save Words")




- if @my_good_words.present? || @my_bad_words.present? || @owner
  .section
    %h3 The Results
    %br
    - if @used_words.empty? && @owner
      No one has added any words to describe you yet.
      %p Add some words yourself to get the ball rolling.
      Share a link to your page with your friends to see what words they add.
    - else
      - if @good_words.present?
        = word_chart(@user, @good_words, true)
        %br
        %br
        %br
      - if @bad_words.present?
        = word_chart(@user, @bad_words, false)

- if @my_good_words.present? || @my_bad_words.present?
  .section
    %h3 Thanks for playing!
    %p
      Now
      - unless @owner
        create your own
        = link_to("BestWords.Me page >", "/")
        %br
        %br
        or
      check out the game that inspired BestWords.me,
      = link_to("The Matching Game >", "http://www.thematchinggame.com")
