%h1.tagline What words best describe you?

%p What words would your friends and family use to describe you?
%p Create your own bestwords.me page and find out :)

.new_profile
  %h2 Your Personal Page:
  = form_for(@user) do |f|
    = f.label :slug, "http://bestwords.me/"
    = f.text_field :slug
    = f.submit("Create >", :style => "font-size: 12pt; width: 5em;")

.sample
  = image_tag("user_photos/sample.jpg")
  %h3 A Sample
  %h3= link_to("bestwords.me/sample_the_dog", profile_path("sample_the_dog"))
  %p it works for people, pets, etc :)
